<a href="https://colab.research.google.com/github/spike1spike/University/blob/main/Extra_Tasks/Ex_task_2_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Дополнительное задание №2.1**

---

**Пункт 1:**

Напишите программу, которая принимает список строк, содержащих числа, и преобраует их в список целых чисел, возведённых в куб. Используйте функции `map()` и `lambda`.

**Пример:**

```python
# Входные данные
numbers = ['1', '2', '3', '4', '5']

# Ожидаемый результат
[1, 8, 27, 64, 125]
```

In [3]:
list1 = list(map(int, input().split()))
list1 = list(map(lambda i: i**3, list1))
print(list1)

1 2 3 4 5
[1, 8, 27, 64, 125]

---

**Пункт 2:**

Используя `filter()` и `lambda`, из списка слов отфильтруйте только те, которые начинаются и заканчиваются на одну и ту же букву.

**Пример:**

```python
# Входные данные
words = ['level', 'python', 'radar', 'world', 'rotor']

# Ожидаемый результат
['level', 'radar', 'rotor']
```

In [2]:
line = input().split()
list1 = list( filter(lambda word: word[0]==word[-1], line) )
print(list1)

level python radar world rotor
['level', 'radar', 'rotor']

---

**Пункт 3:**

С помощью `reduce()` и `lambda` найдите наибольшее число в списке чисел.

**Подсказка:** Функция `reduce()` находится в модуле `functools`.

**Пример:**

```python
# Входные данные
numbers = [47, 11, 42, 102, 13]

# Ожидаемый результат
102
```

In [4]:
from functools import reduce

nums = list(map(int, input().split()))
mx_num = reduce(lambda a, b: max(a, b), nums)
print(mx_num)

47 11 42 102 13
102

---

**Пункт 4:**

Объедините два списка чисел в один список кортежей, где каждый кортеж состоит из элементов исходных списков, возведённых в квадрат и куб соответственно. Используйте функции `map()`, `lambda` и `zip()`.

**Пример:**

```python
# Входные данные
list1 = [1, 2, 3]
list2 = [4, 5, 6]

# Ожидаемый результат
[(1, 64), (4, 125), (9, 216)]
```

In [5]:
list1 = list(map(int, input().split()))
list2 = list(map(int, input().split()))
list_r = list(map(lambda tup: (tup[0]**2, tup[1]**3), zip(list1, list2)))
print(list_r)

1 2 3
4 5 6
[(1, 64), (4, 125), (9, 216)]

---

**Пункт 5:**

Напишите программу, которая принимает строку с целыми числами, разделёнными запятыми, и вычисляет сумму чётных чисел из этой строки. Используйте функции `map()`, `filter()`, `lambda` и `reduce()`.

**Пример:**

```python
# Входные данные
numbers = '1,2,3,4,5,6,7,8,9,10'

# Ожидаемый результат
30  # (2 + 4 + 6 + 8 + 10)
```

In [6]:
from functools import reduce

nums = list(map(int, input().split(',')))
nums = list(filter(lambda a: a%2==0, nums))
s = reduce(lambda a, b: a+b, nums)
print(s)

1,2,3,4,5,6,7,8,9,10
30


---

**Пункт 6:**

Используя `map()` и `lambda`, преобрауйте список температур в граусах Цельсия в список температур в граусах Фаренгейта. Формула преобраования: F = C * 9/5 + 32.

**Пример:**

```python
# Входные данные
celsius = [0, 15, 30, 100]

# Ожидаемый результат
[32.0, 59.0, 86.0, 212.0]
```

In [7]:
l_celsius = list(map(int, input().split()))
l_fahrenheit = list(map(lambda c: c * (9/5) + 32, l_celsius))
print(l_fahrenheit)

0 15 30 100
[32.0, 59.0, 86.0, 212.0]

---

**Пункт 7:**

У вас есть список чисел. Используя комбинацию функций `filter()`, `map()` и `lambda`, получите новый список, содержащий квадраты нечётных чисел из исходного списка.

**Пример:**

```python
# Входные данные
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]

# Ожидаемый результат
[1, 9, 25, 49, 81]
```

In [8]:
nums = list(map(int, input().split()))
nums = filter(lambda a: a%2!=0, nums)
nums = list(map(lambda a: a**2, nums))
print(nums)

1 2 3 4 5 6 7 8 9
[1, 9, 25, 49, 81]

---
**Пункт 8:**

С помощью функции `reduce()` и `lambda` вычислите произведение всех чисел в списке.

**Пример:**

```python
# Входные данные
numbers = [1, 2, 3, 4, 5]

# Ожидаемый результат
120  # (1 * 2 * 3 * 4 * 5)
```

In [9]:
from functools import reduce

nums = list(map(int, input().split()))
pr = reduce(lambda x, y: x*y, nums)
print(pr)

1 2 3 4 5
120

---

**Пункт 9:**

Дан список строковых представлений чисел. Используя `map()`, `lambda` и метод строки `isdigit()`, преобразуйте список, заменив нечисловые строки на число 0.

**Пример:**

```python
# Входные данные
strings = ['10', '20', 'abc', '30', 'def']

# Ожидаемый результат
[10, 20, 0, 30, 0]
```

In [11]:
strings = input().split()
strings = list(map(lambda a: int(a) if a.isdigit() else 0, strings))
print(strings)

10 20 abc 30 def
[10, 20, 0, 30, 0]

---

**Пункт 10:**

Есть два списка координат X и Y одинаковой длины. Используя `zip()` и `lambda`, объедините их в список точек — кортежей `(x, y)`.

**Пример:**

```python
# Входные данные
x_coords = [1, 2, 3]
y_coords = [4, 5, 6]

# Ожидаемый результат
[(1, 4), (2, 5), (3, 6)]
```

In [13]:
x_coords = list(map(int, input().split()))
y_coords = list(map(int, input().split()))
xy_coords = list(map(lambda tup: (tup[0], tup[1]), zip(x_coords, y_coords)))
print(xy_coords)

1 2 3
4 5 6
[(1, 4), (2, 5), (3, 6)]

---

**Пункт 11:**

Напишите программу, которая принимает список слов и возвращает словарь, где ключами являются слова, а значениями — длины этих слов. Используйте `map()` и `lambda`.

**Пример:**

```python
# Входные данные
words = ['apple', 'banana', 'cherry']

# Ожидаемый результат
{'apple': 5, 'banana': 6, 'cherry': 6}
```

In [14]:
words = input().split()
dict1 = dict(map(lambda word: (word, len(word)), words))
print(dict1)

apple banana cherry
{'apple': 5, 'banana': 6, 'cherry': 6}

---

**Пункт 12:**

Используя `filter()` и `lambda`, из списка чисел оставьте только простые числа.

**Пример:**

```python
# Входные данные
numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10]

# Ожидаемый результат
[2, 3, 5, 7]
```

*Подсказка:* Для проверки числа на простоту может понадобиться дополнительная функция.

In [15]:
def prost(a):
    if (a == 0) or (a == 1):
        k = -1
    else:
        k = 0
        for n in range(2, int(a**0.5)+1):
            if a%n==0:
                k += 1
                break
    return k==0

nums = list(map(int, input().split()))
nums = list(filter(lambda a: prost(a), nums))
print(nums)

2 3 4 5 6 7 8 9 10
[2, 3, 5, 7]

---
**Пункт 13:**

Объедините три списка чисел в один список сумм соответствующих элементов. Используйте `map()`, `lambda` и `zip()`.

**Пример:**

```python
# Входные данные
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list3 = [7, 8, 9]

# Ожидаемый результат
[12, 15, 18]  # (1+4+7, 2+5+8, 3+6+9)
```

In [17]:
list1 = list(map(int, input().split()))
list2 = list(map(int, input().split()))
list3 = list(map(int, input().split()))
list_s = list(map(lambda tup: tup[0]+tup[1]+tup[2], zip(list1, list2, list3)))
print(list_s)

1 2 3
4 5 6
7 8 9
[12, 15, 18]

---

**Пункт 14:**

С помощью `reduce()` и `lambda` подсчитайте количество появлений каждого символа в строке (без учета регистра), и выведите символ, который встречается чаще всего.

**Пример:**

```python
# Входные данные
text = 'Functional programming with lambda functions'

# Ожидаемый результат
'n'  # n встречается чаще всего
```

*Подсказка:* Возможно, понадобится преобразовать строку в список символов и использовать словарь для подсчета.

In [19]:
from functools import reduce

line = list(input().lower())
dict1 = dict(map(lambda s: (s, line.count(s)), line))
mx_s = reduce(lambda s1, s2: s1 if s1[1] >= s2[1] else s2, list(dict1.items()))
print(mx_s[0])

Functional programming with lambda functions
n

---

**Пункт 15:**

Используя `map()`, `filter()`, `reduce()` и `lambda`, из заданного списка слов найдите общее количество гласных букв.

**Пример:**

```python
# Входные данные
words = ['python', 'lambda', 'functions', 'map', 'filter', 'reduce']

# Ожидаемый результат
13
```

*Подсказка:* Гласные буквы — 'a', 'e', 'i', 'o', 'u'.

In [20]:
from functools import reduce

words = input().split()
vowels = ['a', 'e', 'i', 'o', 'u', 'y']
words = list(filter(lambda word: sum(  list( vowels[i] in word for i in range(len(vowels)) )  ) >= 1, words))
words = list(map(lambda word: sum( word.count(vowels[i]) for i in range(len(vowels)) ), words))
k_vowels = reduce(lambda k_v_word1, k_v_word2: k_v_word1 + k_v_word2, words)
print(k_vowels)

python lambda functions map filter reduce
13

---